{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row" style="border-radius: 22px;">
		{% for product in products %}
		<div class="col-lg-4" style="float: inline-end; box-shadow: aqua; border-radius: 212px;">
			<img class="thumbnail" src="{{product.imageURL}}"  style="border-radius: 22px;">
			
			<div class="box-element product" style="border-radius: 22px;">
				<br>
				<h6><strong>{{product.name}}</strong></h6>
				<hr>
				{% if user.is_authenticated %}
				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart" style="border-radius: 22px;">Add to Cart</button>
				{% else %}
				<p>please login to add product</p>
				{% endif %}
				<a class="btn btn-outline-success" href="#" style="border-radius: 22px;">View</a>
				<h4 style="display: inline-block; float: right"><strong>Rs.{{product.price}}</strong></h4>
				
			</div>
			<hr>
		</div>
		{% endfor %}
	</div>

{% endblock content %}
